* {
      margin: 0%;
      padding: 0%;
}

.allnavbar {
      width: 100%;
      top: 0px;
      position: fixed;
      z-index: 999;
      background-color: #FCE9F1;

}


nav {
      width: 80vw;
      display: flex;
      height: 75px;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      background-color: #FCE9F1;


}

.nav2 {

      display: flex;
      width: 50vw;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      background-color: #FCE9F1;


}

.link {
      text-decoration: none;
      color: rgb(0, 6, 12);
      font-weight: 600;
      background-color: #FCE9F1;


}


.offcanvas-title {
      /* border: #f6f3f3 solid 3px; */
      border-radius: 5px;
      /* padding: 5px 8px; */
      color: rgb(17, 0, 0);
      font-size: 20px;
      font-weight: 800;
      width: 200px;
      background: none;
      margin-left: -40px;
      text-shadow: -2px 0 rgb(5, 5, 5), 0 1px rgb(249, 4, 4), 1px 0 rgb(0, 0, 0), 0 -1px rgb(6, 0, 0);

}

.btn {
      border-radius: 10px;
}


#FooterLink {
      width: 160px;
      height: 30px;
      background-color: black;

}

.offcanvas-header {
      /* background-color: rgb(237, 240, 243); */
      background-image: url("https://wallpaperaccess.com/full/2797124.jpg");
      /* background-repeat: no-repeat; */
      /* background-attachment: fixed; */
      background-position: 100%;
}



/*          ```````           FOR RESPONSIVE NAVBAR         ---- */

#fa1 {
      display: none;
}

#offcanvasExample {
      /* border: 2px solid blue; */
      width: 200px;
      height: 100%;
      background-color: black;
      z-index: 9999;
      box-shadow: rgba(44, 25, 37, 0.4) 5px 5px, rgba(23, 12, 19, 0.3) 10px 10px, rgba(45, 34, 41, 0.2) 15px 15px, rgba(73, 40, 61, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
}

.offcanvas-header {
      height: 75px;
      font-size: 1.5rem;
}

.responseNavbar {
      display: grid;
      grid-template-columns: 1fr;
      padding: 15px;
      gap: 20px;
      color: rgb(0, 6, 12);
      font-weight: 600;
      background-color: black;


}



@media screen and (max-width: 1000px) {
      #fa1 {
            display: contents;
            display: flex;
            justify-content: right;
            align-items: right;

      }

      .nav2 {
            display: none;
      }

      .nav202 {
            border: 1px solid yellowgreen;
            width: 95vw;
      }


}




/*    --------          Active Navbar --------         */

#home {
      color: rgb(0, 255, 21);
}