* {
      margin: 0%;
      padding: 0%;
}

.allnavbar {
      width: 100%;
      top: 0px;
      position: fixed;
      z-index: 999;
      background-color: #FCE9F1;

}


nav {
      width: 80vw;
      display: flex;
      height: 75px;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      background-color: #FCE9F1;


}

.nav2 {
      display: flex;
      width: 50vw;
      justify-content: space-between;
      align-items: center;
      /* gap: 40px; */
      font-size: 1.2rem;
      background-color: #FCE9F1;


}

.link {
      text-decoration: none;
      color: rgb(0, 6, 12);
      font-weight: 600;
      background-color: #FCE9F1;


}


.offcanvas-title{
      outline: #080202 solid 5px;
      border-radius: 5px;
      background-color: #F266AB;
      padding: 2px 5px;
      color: black;
}

.btn{
      border-radius: 10px;
}


#FooterLink{
      width: 160px;
      height: 30px;
      background-color: black;

}




/*          ```````           FOR RESPONSIVE NAVBAR         ---- */

#fa1 {
      display: none;
}

#offcanvasExample {
      /* border: 2px solid blue; */
      width: 200px;
      height: 100%;
      background-color: black;
      z-index: 9999;

}

.offcanvas-header {
      height: 75px;
      font-size: 1.5rem;
}

.responseNavbar {
      display: grid;
      grid-template-columns: 1fr;
      padding: 15px;
      gap: 20px;
      color: rgb(0, 6, 12);
      font-weight: 600;
      background-color: black;


}



@media screen and (max-width: 1000px) {
      #fa1 {
            display: contents;
            display: flex;
            justify-content: right;
            align-items: right;

      }

      .nav2 {
            display: none;
      }

      .nav202 {
            border: 1px solid yellowgreen;
            width: 95vw;
      }
      

}




/*    --------          Active Navbar --------         */

#home {
      color: rgb(0, 255, 21);
}