.project2div {
      /* border: 1px solid blue; */
      display: flex;
      flex-wrap: wrap;
      width: 80vw;
      gap: 30px;
      margin: auto;
      justify-content: center;
      margin-top: 30px;

}

.footer2div {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 350px;
      height: 250px;
      padding-left: 10px;

}

.footercontact3 {
      display: flex;
      gap: 15px;
      align-items: center;
      text-decoration: none;
      margin-top: 8px;
}

.FooterLink {
      display: flex;
      text-decoration: none;
      color: #FFDE00;
      font-size: 1.1rem;
      margin-top: 8px;
      gap: 20px;
      align-items: center;
}

.FooterLink:hover {
      color: white;
      font-weight: 600;
}

.footerSocialMedia {
      /* border: 1px solid blue; */
      width: 80vw;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: auto;
      justify-content: right;

}

.aDivFooter>a {
      margin-right: 15px;

}


.md {
      color: rgba(255, 255, 255, 0.999);
      background: transparent;

}


.nameSection {
      width: 100%;
      background-image: url("https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1410.jpg");
}




@media screen and (max-width: 1000px) {

      .nameSection {
            width: 100vw;
      }

}